In [3]:
import sys
import io

import pandas as pd
from numpy import dtype
from pandas import Int64Dtype, CategoricalDtype


sys.path.extend(["..", "."])
from src import london_scraper, london_cleaner

In [4]:
results = pd.read_csv(
    "../data/london_marathon_latest.csv",
    dtype={
        "Place (Overall)": "Int64",
        "Place (Gender)": "Int64",
        "Name": str,
        "Sex": str,
        "Club": str,
        "Running Number": object,
        "Category": "category",
        "Year": "Int64",
        "Country": str,
        "FirstName": str,
        "LastName": str,
        "DSQ": bool,
        "Finish (Total Seconds)": "float64",
    },
    parse_dates=["Finish"],
)

results["Finish"] = pd.to_timedelta(results["Finish"])

In [ ]:
import importlib

importlib.reload(london_scraper)

In [5]:
test = pd.read_csv(
    io.StringIO(
        """
Place (Overall),Place (Gender),Place (Category),Name,Sex,Club,Running Number,Category,Finish,Year,Country,FirstName,LastName,Finish (Total Seconds)
12547,9390,4345,A Smith Matthew ,M,nan,Runner Number40546,18-39,0 days 03:59:33,2021,GBR, Matthew ,A Smith,14373.0
34146,20833,3132,Aalders Steven ,M,nan,Runner Number23235,45-49,0 days 06:22:20,2021,GBR, Steven ,Aalders,22940.0
"""
    )
)

In [7]:
test.to_dict(orient="list")

{'Place (Overall)': [12547, 34146],
 'Place (Gender)': [9390, 20833],
 'Place (Category)': [4345, 3132],
 'Name': ['A Smith Matthew ', 'Aalders Steven '],
 'Sex': ['M', 'M'],
 'Club': [nan, nan],
 'Running Number': ['Runner Number40546', 'Runner Number23235'],
 'Category': ['18-39', '45-49'],
 'Finish': ['0 days 03:59:33', '0 days 06:22:20'],
 'Year': [2021, 2021],
 'Country': ['GBR', 'GBR'],
 'FirstName': [' Matthew ', ' Steven '],
 'LastName': ['A Smith', 'Aalders'],
 'Finish (Total Seconds)': [14373.0, 22940.0]}

In [ ]:
sample_url = (
    "https://results.virginmoneylondonmarathon.com/2018/?page=1&event=ALL&num_"
    "results=25&pid=search&pidp=results_nav&search%5Bsex%5D=M&search%5Bage_c"
    "lass%5D=%25&search%5Bnation%5D=%25&search_sort=place"
)

In [ ]:
results = london_scraper.get_results_table(sample_url, "M", 2018)

In [ ]:
results.to_dict(orient="list")

In [ ]:
results = london_cleaner.london_cleaner(results)

In [ ]:
results.to_csv(
    R"C:\Users\michael.walshe\Documents\Python Projects\scrape_london_marathon\tests\inputs\london_2018_exp_output.csv",
    index=False,
)

In [9]:
results = results = pd.read_csv(
    "../data/london_marathon_latest.csv",
    dtype={
        "Place (Overall)": "Int64",
        "Place (Gender)": "Int64",
        "Name": str,
        "Sex": str,
        "Club": str,
        "Running Number": object,
        "Category": "category",
        "Year": "Int64",
        "Country": str,
        "FirstName": str,
        "LastName": str,
        "DSQ": bool,
        "Finish (Total Seconds)": "float64",
    },
    parse_dates=["Finish"],
)

results["Finish"] = pd.to_timedelta(results["Finish"])

In [11]:
results = results.loc[results['Year'] == 2021]

In [12]:
results

,Place (Overall),Place (Gender),Place (Category),Name,Sex,Club,Running Number,Category,Finish,Year,Country,FirstName,LastName,DSQ,Finish (Total Seconds)
214159,12551,9399,4347.0,A Smith Matthew,M,NaN,40546,18-39,0 days 03:59:33,2021,GBR,Matthew,A Smith,False,14373.0
214160,34168,20851,3139.0,Aalders Steven,M,NaN,23235,45-49,0 days 06:22:20,2021,GBR,Steven,Aalders,False,22940.0
214161,<NA>,<NA>,NaN,Abarca Octavio,M,NaN,52134,50-54,NaT,2021,GBR,Octavio,Abarca,False,NaN
214162,<NA>,<NA>,NaN,Abbas Louis,M,Mornington Chasers,24700,40-44,NaT,2021,GBR,Louis,Abbas,False,NaN
214163,33996,20788,1380.0,Abbasi Naveed Shah,M,NaN,7204,55-59,0 days 06:18:08,2021,GBR,Naveed Shah,Abbasi,False,22688.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388543,3076,246,33.0,Zou Chen,F,NaN,56926,45-49,0 days 03:09:34,2021,USA,Chen,Zou,False,11374.0
388544,32093,12024,1346.0,Zouch Natalie,F,NaN,38276,50-54,0 days 05:49:39,2021,GBR,Natalie,Zouch,False,20979.0
388545,3231,285,18.0,Zubizarreta Maria,F,NaN,672,50-54,0 days 03:11:05,2021,GBR,Maria,Zubizarreta,False,11465.0
388546,23146,7359,1338.0,Zuckschwerdt Anett,F,NaN,52821,40-44,0 days 04:47:49,2021,GER,Anett,Zuckschwerdt,False,17269.0
388547,<NA>,<NA>,NaN,Borodinova Alexandra,F,NaN,48663,18-39,NaT,2021,GBR,Alexandra,Borodinova,False,NaN

In [13]:
results.to_csv('../data/london_2021.csv', index=False)