In [73]:
import sys

import pandas as pd
from numpy import dtype
from pandas import Int64Dtype, CategoricalDtype

sys.path.extend(["..", "."])
from src import london_scraper, london_cleaner

In [74]:
results = pd.read_csv(
    "../data/london_marathon_latest.csv",
    dtype={
        "Place (Overall)": "Int64",
        "Place (Gender)": "Int64",
        "Name": str,
        "Sex": str,
        "Club": str,
        "Running Number": object,
        "Category": "category",
        "Year": "Int64",
        "Country": str,
        "FirstName": str,
        "LastName": str,
        "DSQ": bool,
        "Finish (Total Seconds)": "float64",
    },
    parse_dates=["Finish"],
)

results["Finish"] = pd.to_timedelta(results["Finish"])

In [75]:
results["Finish"].max()

Timedelta('0 days 07:59:33')

In [76]:
import importlib

importlib.reload(london_scraper)

In [77]:
sample_url = (
    "https://results.virginmoneylondonmarathon.com/2018/?page=1&event=ALL&num_"
    "results=25&pid=search&pidp=results_nav&search%5Bsex%5D=M&search%5Bage_c"
    "lass%5D=%25&search%5Bnation%5D=%25&search_sort=place"
)

In [85]:
results = london_scraper.get_results_table(sample_url, "M", 2018)

In [87]:
results.to_dict(orient="list")

{'Place (Overall)': ['1',
  '2',
  '3',
  '4',
  '5',
  '6',
  '7',
  '8',
  '9',
  '10',
  '11',
  '12',
  '13',
  '14',
  '15',
  '16',
  '17',
  '18',
  '19',
  '20',
  '21',
  '22',
  '23',
  '24',
  '25'],
 'Place (Gender)': ['1',
  '2',
  '3',
  '4',
  '5',
  '6',
  '7',
  '8',
  '9',
  '10',
  '11',
  '12',
  '13',
  '14',
  '15',
  '16',
  '17',
  '18',
  '19',
  '20',
  '21',
  '22',
  '23',
  '24',
  '25'],
 'Place (Category)': ['1',
  '2',
  '1',
  '3',
  '4',
  '5',
  '2',
  '6',
  '7',
  '8',
  '9',
  '3',
  '10',
  '4',
  '11',
  '12',
  '13',
  '14',
  '15',
  '16',
  '17',
  '5',
  '18',
  '19',
  '20'],
 'Name': ['» Wallis, Daniel (GBR)\n',
  '» Gilbert, John (GBR)\n',
  "» O'Hanlon, Gary (IRL)\n",
  '» Payne, Tony (GBR)\n',
  '» Bayton, Steven (GBR)\n',
  '» Greenleaf, Andrew (GBR)\n',
  '» MOSCA, ALBERTO (ITA)\n',
  '» Westlake, James (GBR)\n',
  '» Cox, Matthew (AUS)\n',
  '» Totten, Eoghan Joseph (GBR)\n',
  '» Fish, Ben (GBR)\n',
  '» Green, Will (GBR)\n',
  '» Lighting, Peter (GBR)\n',
  '» Evangelidis, Dimosthenis (GBR)\n',
  '» MCDOWELL, RICHARD (GBR)\n',
  '» Glaz, Daniel (USA)\n',
  '» Hogan, Sean (GBR)\n',
  '» Milne, Alex (GBR)\n',
  '» Besson, Nicolas (GBR)\n',
  '» Aldred, Tom (GBR)\n',
  '» LI, Wei (CHN)\n',
  '» KYEREME, KOJO (GBR)\n',
  '» Hargreaves, Michael (GBR)\n',
  '» Bentley, Russell (GBR)\n',
  '» Hudson, David (GBR)\n'],
 'Sex': ['M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M',
  'M'],
 'Club': ['Belgrave Harriers',
  'Kent AC',
  'Serpentine RC',
  'Serpentine RC',
  'Hallamshire Harriers Sheffield',
  'Serpentine RC',
  'Other',
  'Crawley AC',
  'Belgrave Harriers',
  'Oxford University AC',
  'Blackburn Harriers & AC',
  'Serpentine RC',
  'Kent AC',
  'Hercules Wimbledon AC',
  'Hercules Wimbledon AC',
  'Kent AC',
  'Poole Runners',
  'Enfield and Haringey A C',
  'Serpentine RC',
  'London Heathside ',
  '',
  'Shaftesbury Barnet Harriers',
  'East Hull Harriers & AC',
  'Kent AC',
  'BRJ Run and Tri'],
 'Running Number': ['2007',
  '1436',
  '1319',
  '1514',
  '1815',
  '1441',
  '55259',
  '1467',
  '1646',
  '1460',
  '1435',
  '1582',
  '1345',
  '1795',
  '1702',
  '1218',
  '1552',
  '1268',
  '1632',
  '1618',
  '55356',
  '1682',
  '1894',
  '1851',
  '1333'],
 'Category': ['18-39',
  '18-39',
  '40-44',
  '18-39',
  '18-39',
  '18-39',
  '40-44',
  '18-39',
  '18-39',
  '18-39',
  '18-39',
  '40-44',
  '18-39',
  '40-44',
  '18-39',
  '18-39',
  '18-39',
  '18-39',
  '18-39',
  '18-39',
  '18-39',
  '40-44',
  '18-39',
  '18-39',
  '18-39'],
 'Finish': ['02:19:40',
  '02:20:19',
  '02:21:14',
  '02:21:53',
  '02:22:53',
  '02:23:19',
  '02:24:09',
  '02:24:19',
  '02:25:43',
  '02:26:32',
  '02:26:55',
  '02:27:02',
  '02:27:28',
  '02:27:39',
  '02:27:56',
  '02:28:07',
  '02:28:07',
  '02:28:24',
  '02:29:10',
  '02:29:18',
  '02:29:18',
  '02:29:28',
  '02:29:41',
  '02:29:41',
  '02:29:42'],
 'Year': [2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018,
  2018]}

In [79]:
results = london_cleaner.london_cleaner(results)

In [83]:
results.to_csv(
    R"C:\Users\michael.walshe\Documents\Python Projects\scrape_london_marathon\tests\inputs\london_2018_exp_output.csv",
    index=False,
)

In [84]:
results.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 24
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Place (Overall)         25 non-null     Int64
 1   Place (Gender)          25 non-null     Int64
 2   Place (Category)        25 non-null     Int64
 3   Name                    25 non-null     object
 4   Sex                     25 non-null     object
 5   Club                    25 non-null     object
 6   Running Number          25 non-null     object
 7   Category                25 non-null     category
 8   Finish                  25 non-null     timedelta64[ns]
 9   Year                    25 non-null     Int64
 10  Country                 25 non-null     object
 11  FirstName               25 non-null     object
 12  LastName                25 non-null     object
 13  DSQ                     25 non-null     bool
 14  Finish (Total Seconds)  25 non-null     float64
dtypes: Int64(4), bool(1), category(1), float64(1), object(7), timedelta64[ns](1)
memory usage: 3.0+ KB

In [ ]:
sample_url = (
    "https://results.virginmoneylondonmarathon.com/2018/?page=1&event=ALL&num_"
    "results=25&pid=search&pidp=results_nav&search%5Bsex%5D=M&search%5Bage_c"
    "lass%5D=%25&search%5Bnation%5D=%25&search_sort=name"
)

with open("./tests/inputs/Virgin Money London Marathon 2018.html") as f:
    requests_mock.get(
        "https://results.virginmoneylondonmarathon.com/2018/?page=1&event=ALL&num_"
        "results=25&pid=search&pidp=results_nav&search%5Bsex%5D=M&search%5Bage_c"
        "lass%5D=%25&search%5Bnation%5D=%25&search_sort=name",
        text=f.read(),
    )
    results = london_scraper.get_results_table(sample_url, "M", 2018)

    print(results)