In [6]:
import sys
import io

import pandas as pd
from numpy import dtype
from pandas import Int64Dtype, CategoricalDtype


sys.path.extend(["..", "."])
from src import london_scraper, london_cleaner

In [7]:
results = pd.read_csv(
    "../data/london_marathon_latest.csv",
    dtype={
        "Place (Overall)": "Int64",
        "Place (Gender)": "Int64",
        "Place (Category)": "Int64",
        "Name": str,
        "Sex": str,
        "Club": str,
        "Running Number": object,
        "Category": "category",
        "Year": "Int64",
        "Country": str,
        "FirstName": str,
        "LastName": str,
        "DSQ": bool,
        "Finish (Total Seconds)": "float64",
    },
    parse_dates=["Finish"],
)

results["Finish"] = pd.to_timedelta(results["Finish"])

In [10]:
results["Finish"] = results["Finish"].astype(str)
results.to_parquet("../data/london_marathon_latest.parquet")

In [11]:
results2 =pd.read_parquet("../data/london_marathon_latest.parquet")

In [13]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388548 entries, 0 to 388547
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Place (Overall)         376063 non-null  Int64
 1   Place (Gender)          376063 non-null  Int64
 2   Place (Category)        375891 non-null  float64
 3   Name                    388548 non-null  object
 4   Sex                     388548 non-null  object
 5   Club                    87447 non-null   object
 6   Running Number          388522 non-null  object
 7   Category                388372 non-null  category
 8   Finish                  388548 non-null  object
 9   Year                    388548 non-null  Int64
 10  Country                 387033 non-null  object
 11  FirstName               388532 non-null  object
 12  LastName                388545 non-null  object
 13  DSQ                     388548 non-null  bool
 14  Finish (Total Seconds)  376063 non-null  float64
dtypes: Int64(3), bool(1), category(1), float64(2), object(8)
memory usage: 40.4+ MB

In [ ]:
import importlib

importlib.reload(london_scraper)

In [ ]:
test = pd.read_csv(
    io.StringIO(
        """
Place (Overall),Place (Gender),Place (Category),Name,Sex,Club,Running Number,Category,Finish,Year,Country,FirstName,LastName,Finish (Total Seconds)
12547,9390,4345,A Smith Matthew ,M,nan,Runner Number40546,18-39,0 days 03:59:33,2021,GBR, Matthew ,A Smith,14373.0
34146,20833,3132,Aalders Steven ,M,nan,Runner Number23235,45-49,0 days 06:22:20,2021,GBR, Steven ,Aalders,22940.0
"""
    )
)

In [ ]:
test.to_dict(orient="list")

In [ ]:
sample_url = (
    "https://results.virginmoneylondonmarathon.com/2018/?page=1&event=ALL&num_"
    "results=25&pid=search&pidp=results_nav&search%5Bsex%5D=M&search%5Bage_c"
    "lass%5D=%25&search%5Bnation%5D=%25&search_sort=place"
)

In [ ]:
results = london_scraper.get_results_table(sample_url, "M", 2018)

In [ ]:
results.to_dict(orient="list")

In [ ]:
results = london_cleaner.london_cleaner(results)

In [ ]:
results.to_csv(
    R"C:\Users\michael.walshe\Documents\Python Projects\scrape_london_marathon\tests\inputs\london_2018_exp_output.csv",
    index=False,
)

In [ ]:
results = results = pd.read_csv(
    "../data/london_marathon_latest.csv",
    dtype={
        "Place (Overall)": "Int64",
        "Place (Gender)": "Int64",
        "Name": str,
        "Sex": str,
        "Club": str,
        "Running Number": object,
        "Category": "category",
        "Year": "Int64",
        "Country": str,
        "FirstName": str,
        "LastName": str,
        "DSQ": bool,
        "Finish (Total Seconds)": "float64",
    },
    parse_dates=["Finish"],
)

results["Finish"] = pd.to_timedelta(results["Finish"])

In [ ]:
results = results.loc[results['Year'] == 2021]

In [ ]:
results

In [ ]:
results.to_csv('../data/london_2021.csv', index=False)